body{
    color: white;
}
.page-loader {
    background-color: #363636;
    color: #fff;
}
.page-content, .portlet.light{
    background-color: #363636; /* жив ли си ne тъпо*/
}

.portlet.portlet-sortable.light{
    background-color: #363636;
    
}
.page-sidebar, .page-header.navbar, .page-footer, .navbar-collapse .collapse, .page-content-wrapper{
    background-color: #1A3246;
}
.open{
    background-color: #2a4f6e;
}

.btn.green:not(.btn-outline){
    background-color: #196b73;
    border-color: #196b73;
}
.btn-info{
    background-color: #37567d;
    border-color: #37567d;
}

.btn.red:not(.btn-outline){
    background-color: #92171f;
    border-color: #92171f;
}

/*ДНЕВНИК*/
.nav-tabs {
    border-bottom: 1px solid #575757;
}
.nav-tabs > li.active > a:hover:not(.coursesNav), .nav-tabs > li.active > a:not(.coursesNav){ 
    border-top: 1px solid #575757  !important;
    border-left: 1px solid #575757  !important;
    border-right: 1px solid #575757  !important;
    border-bottom: 1px solid #363636  !important; 
}

.table-hover > tbody > tr:hover > td {
    background: #2b2b2b  !important;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #3d3d3d;
} 

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > thead > tr > th, .table-bordered > tfoot > tr > td{
    border: 1px solid #575757
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav > li > a:hover{
    background-color: #363636;
    color: white
}

a {
    text-shadow: none;
    color: #979797;
}

.nav > li > a:hover{
    background-color: #353535;
}

.badge-success {
    background-color: #2999a3;
}
.badge-warning {
    background-color: #ac8c0d;
}

.btn.default:not(.btn-outline){
    border: none;
    background-color: #494d52;
    color: white;
}

.btn.default:not(.btn-outline):hover{
    border: none;
    background-color: #27292c;
    color: white;
}
.filtersContainer{
    background-color: #3d3f44;
}

.detailsRow, .table-hover > tbody > tr.detailsRow:hover > td, .table-hover > tbody > tr.detailsRow > td{
    background-color: #363636  !important;
    color: white;
}
.badge-details-holder.clearfix.display-none {
    background-color: #456A5B;
}
.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
    background: #363636;
}
.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
    color: #fff;
}
.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a:hover {
    background: #262525;
}
table.dataTable tbody tr {
    background-color: #363636;
}
.profile-usermenu ul li.active a {
    background-color: #313131;
}

.profile-usermenu ul li.active a:hover {
    background: #2e2e2e;
}
.profile-usermenu ul li a:hover {
    background: #2e2e2e;
}
.highcharts-background {
    fill: #363636;
}
text {
    fill: rgb(208, 208, 208)  !important;
}
.highcharts-button-box {
    fill: #2e2e2e;
}
.highcharts-menu {
    background-color: #363636;
}
.highcharts-menu-item {
    color: #fff;
}
.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    background: #234664;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    background: #285979 !important;
}
/* РАЗПИСАНИЕ */
.taken-shi{
    background-color: #546a4a  !important;
}
.scheduleTable .scheduleTableCell, .scheduleTableHeading{
    border: 1px solid #575757  !important;
    color: white;
}
.scheduleCourse{
    font-size: 14px;
    font-weight: 700;
    display: block;
    color: white  !important;
}
.scheduleTable .scheduleTableCell:hover{
    background-color: #2b2b2b;
}
.hourNum{
    color: white  !important;
}
.pagination > li > a{
    background-color: #353535;
    border: 1px solid #575757  !important;
    color: white;
}
.pagination > li > a:hover{
    color: #a1a1a1;
}
.pagination > .active > a{
    background-color: #204b71;
}
.pagination > li > a:hover{
    background-color: #2c2c2c;
}
.free-hour {
    background-color: #4f4e4e  !important;
}

.tab-content.no-space {
    background: #363636;
}
/* ТЕМИ */
.table-hover > tbody > tr.green_back > td, .table-hover > tbody > tr.green_back:hover > td, .green_back * a:not(.btn), .green_back * a:not(.btn):hover,.green_back > td > a:not(.btn), .green_back > td > a:not(.btn):hover, .green_back * a:not(.btn), .green_back * a:not(.btn):hover, .green_back * a:not(.btn):focus, .green_back > td > a:not(.btn), .green_back > td > a:not(.btn):hover, .green_back > td > a:not(.btn):focus{
    background-color: #546a4a  !important;
}

.tabs-left.nav-tabs > li > a:hover, .courseNav{
    background-color: #2b2b2b;
}


.tabs-left.nav-tabs {
    border-right: 1px solid #575757  !important;
}

.coursesNav.active{
    border: 1px solid #575757;
    border-right: 1px solid #363636;
}
.tabs-left.nav-tabs > li.active > a{
    border-color: #575757 transparent #575757 #575757;
}


/* ОТСЪСТВИЯ */
.detailsRow.absenceType1, .detailsRow:hover, .detailsRow{
    background-color: #456a5b  !important;
    color: white  !important;
}
.empty-cell, .empty-cell:hover{
    background-color: #3b3b3b;
}

/* ИЗВЕСТИЯ */
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external{
   background: #4b4f55  !important;
}
.btn.green:not(.btn-outline):hover{
    background-color: #18565b;
    border-color: #18565b;
}
.dropdown-menu, .page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a{
    border: none  !important;
    background-color: #4B4F55;
    color: rgb(161, 161, 161)  !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu > li.external > a:hover{
    color: white  !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    background: #45474a;
    border-bottom: 1px solid #575757  !important;
    color: rgb(172, 172, 172);
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover{
    background-color: #2e2f31;
    color: white  !important;
}
/* СИГНАЛ */
.modal-content {
    background-color: #363636;
}
/* СЪОБЩЕНИЯ */
.messageThread.clearfix {
    background-color: #363636;
}
.message-user.ml-15  {
    color: #fff;
}
.message-subject {
    color: #fff;
}
.portlet-title.sticky.is_stuck {
    background-color: #363636;
}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: #353535;
    /* border 1px solid #575757; */
    border-color: #575757;
}
.active.folder:focus {
    background-color: #2999a3;
}
.inbox .inbox-nav > li > a:hover {
    background: #262525;
}
.inbox-content .timeline .timeline-body {
    background-color: #363636;
}
.panel {
    background-color: #363636;
}
.panel-default > .panel-heading {
    background-color: #363636;
    color: #fff;
}
.system-message-body span {
    background-color: #363636;
}
.font-grey-cascade {
    color: #CACACA  !important;
}
.note-editor.note-frame .note-editing-area .note-editable {
    color: #fff;
    background-color: #363636;
}

html body.page-header-fixed.page-quick-sidebar-over-content div.page-container div.page-content-wrapper div.page-content div.row div.col-md-12 div.portlet.clearfix.messenger-index div.inbox.margin-top-10 div.row div.user-folder-threads.col-md-10.col-sm-12.col-xs-12.pull-right div.message-index-body div.threads div.messageThread.clearfix div.col-md-4.col-sm-6.col-sm-6-992-1440.message-short-body a:hover {
    background: transparent !important;
}
.current-attachment:hover {
    color: white;
}
.current-attachment:focus {
    color: #8ba2c0;
}
.bg-white {
    background-color: #363636 !important;
}
/* ВСИЧКИ МАТЕРИАЛИ */
.text {
    color: #fff !important;
}
/* .green-text, a:hover, .green_back * a:not(.btn), .green_back * a:not(.btn):hover, .green_back * a:not(.btn):focus, .green_back > td > a:not(.btn), .green_back > td > a:not(.btn):hover, .green_back > td > a:not(.btn) {
    background-color: #204564 !important;
    color: white  !important;
} */
.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background: rgb(172, 64, 64);
}
.stats-ranking-table .highlight {
    background-color: #18565b;
}
/* ЛОГИН */
.login {
    background-color: #194e71;
}
.tab-content {
    background: #174a6c;
}
.auth-tabs.nav-tabs > li.active > a, .auth-tabs.nav-tabs > li.active > a:focus, .auth-tabs.nav-tabs > li.active > a:hover {
    background: #2c6991;
}
.auth-tabs.nav.nav-tabs > li > a { 
    background: #367daa;
}

/* ПРОФИЛ */
.note.note-info {
    background-color: #2a2a2a;
    color: #fff;
}
.profile-usertitle-name {
    color: #8ba2c0;
}